@{
    Layout = "~/Views/Shared/_ActionPage.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/startbootstrap-sb-admin-gh-pages/css/styles.css" rel="stylesheet" />
<form>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-primary mt-3">Üstlen</h5>
                        <span class="card-title my-2">Açıklama</span>
                        <textarea class="form-control" style="height:300px"></textarea>
                        <br />
                        <input type="submit" value="Üstlen" class="btn btn-primary mt-4" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/startbootstrap-sb-admin-gh-pages/js/datatables-simple-demo.js"></script>